*.ndk
.ipynb_checkpoints/
__pycache__/
bpts_NA.eps
data/
*.db
*.csv
*.pickle
perplex/my_project.*
perplex/my_project_1.*
.idea
/minos/minos_bran2
/minos/default.out
/minos/default.txt
/crust1.0/getCN1point
/s362ani/PROGRAMS/PREM750_CARDS
/s362ani/PROGRAMS/ploteurasia.scr
/s362ani/PROGRAMS/plotglobal.scr
/s362ani/PROGRAMS/plottopo.scr
/s362ani/PROGRAMS/.gmtdefaults
/s362ani/PROGRAMS/.gmtcommands
/s362ani/PROGRAMS/BEURA.bound
/s362ani/PROGRAMS/bk15_0.cpt
/s362ani/PROGRAMS/bk6_0.cpt_
/s362ani/PROGRAMS/S2.9EA_OLDCRCOR
/s362ani/PROGRAMS/platebound.gmt
/s362ani/PROGRAMS/bk15_0.cpt_
/s362ani/PROGRAMS/S2.9EA
/s362ani/PROGRAMS/REF
/s362ani/PROGRAMS/bk6_0.cpt
/s362ani/PROGRAMS/S362ANI_OLDCRCOR
/s362ani/PROGRAMS/velani_global.e
/s362ani/PROGRAMS/S362WMANI
/s362ani/PROGRAMS/S362ANI_PREM
/s362ani/PROGRAMS/velani_eurasia.e
/s362ani/PROGRAMS/topo.e
/s362ani/PROGRAMS/bin/
/s362ani/PROGRAMS/obj/
/crust1/getCN1point
/default.txt
